.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}

.imageProfile {
    max-width: 100px;
    object-fit: cover;
    border-color: #ffffff;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
}

.imageBorder {
    max-width: 100px;
    object-fit: cover;
    border-color: #ffffff;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    width: 100px;
    height: 100px;
}

.text h1 {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 700;
}