.button {
    background: #319795;
    display: inline-flex;
    align-items: center;
    justify-items: center;
    color: #ffffff;
    height: 2.5rem;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 6px;
    transition: .5s ease-in-out;
}

.button:hover {
    background: #2c7a7b;
}

.button svg {
    margin-left: 10px;
}